@font-face {
    font-family: 'MiFuente';
    src: url('./gunmetl.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

/* Estilo global */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #fff;
    padding: 20px;
    background: linear-gradient(135deg, #1db954, #191414);
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
    overflow: hidden;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 70% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    animation: moveBanner 7s infinite linear;
}

.header-image {
    width: 700px;
    height: 200px;
    margin: 0 10px;
}

h1 {
    font-family: 'MiFuente', sans-serif;
    font-size: 120px;
    color: #000000;
    text-align: center;
    margin-top: 20px;
    animation: colorChange 5s infinite; 
}

@keyframes colorChange {
    0% {
        color: #000000;
    }
    25% {
        color: #ff0000;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #0000ff;
    }
    100% {
        color: #000000;
    }
}

@keyframes moveBanner {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

/* Contenedor principal */
.container {
    padding-top: 90px;
    max-width: 800px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

form label {
    font-size: 1.2rem;
    font-weight: bold;
}

input {
    border: none;
    border-bottom: 2px solid #333;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    width: 300px;
}

input::placeholder {
    color: #868686; /* Cambia este color al que prefieras */
    opacity: 1; /* Asegúrate de que la opacidad esté al 100% */
}

form button {
    padding: 10px;
    font-size: 1rem;
    background-color: #1db954;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #14893c;
}

/* Botón en listas */
button {
    padding: 8px 12px;
    background-color: #1db954;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #14893c;
}