<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoodTrack</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>MoodTrack: Análisis de Sentimientos en Canciones</h1>
        <form action="/user" method="post">
            <label for="user_id">Nombre de Usuario de Spotify:</label>
            <input type="text" name="user_id" id="user_id" required>
            <button type="submit">Obtener Playlists</button>
        </form>
    </div>
</body>
</html>

