<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoodTrack</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="../static/moodtrack_logo-removebg-preview.png" type="image/x-icon">
</head>
<body>
    <div class="header-container">
        <!--<img src="../static/Jesus.jpg" alt="Imagen Izquierda" class="header-image">-->
        <h1>MoodTrack</h1>
        <!--<img src="../static/Jesus.jpg" alt="Imagen Derecha" class="header-image">-->
    </div>
    <div class="h3-container">
        <h3>Encuentra el mood de tu playlist</h3>
    </div>
    <div class="container">
        <form action="/user" method="post">
            <input type="text" name="user_id" id="user_id" placeholder="Usuario de Spotify" required>
            <button type="submit"><i class="fas fa-music"></i></button>
        </form>
    </div>
    <div class="img-mov">
        <img src="../static/moodtrack_logo-removebg-preview.png" alt="Imagen Izquierda" class="header-image">
    </div>
</body>
</html>

