<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlists de Usuario</title>
    <link rel="stylesheet" href="/static/user.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="../static/moodtrack_logo-removebg-preview.png" type="image/x-icon">
</head>
<body>
    <h1>PLAYLIST DEL USUARIO</h1>
    <div class="container">
        <ul>
            {% for playlist in results %}
            <li>
                <strong>{{ playlist.Nombre }}</strong> 
                <form action="/analyze" method="post" style="display:inline;">
                    <input type="hidden" name="playlist_id" value="{{ playlist.ID }}">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </li>
            {% endfor %}
        </ul>

    </div>
    <a class="return-link" href="/">Volver</a>
</body>
</html>

